@model kr.Models.AddProductsViewModel
@{
    ViewBag.Title = "Добавить товар";
}
@using (Html.BeginForm("AddProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Товар</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Product.title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" name="title" class="form-control" value="@Model.Product.title" />
            @Html.ValidationMessageFor(model => model.Product.title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Product.desc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea rows="5" name="desc" class="form-control">@Model.Product.desc</textarea>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Product.count, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" name="count" class="form-control" value="@Model.Product.count" />
            @Html.ValidationMessageFor(model => model.Product.count, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Product.price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" name="price" class="form-control" value="@Model.Product.price" />
            @Html.ValidationMessageFor(model => model.Product.price, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Product.img, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="upload" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Product.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
           <select class="form-control" name="CategoryTitle">
             @foreach (var item in Model.Categories)
             {
                 @if (item.Id==Model.Product.CategoryId) {<option selected>@item.title</option>}
                 else { 
           <option>@item.title</option>
                }
             }

           </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Добавить" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Назад", "Products")
</div>

