@model List<kr.Models.Order>
@{
    ViewBag.Title = "Заказы";
}
<table class="table table-striped">
    <tr>
        <td>Id</td>
        <td>Email</td>
        <td>Цена</td>
        <td>Кол-во товара</td>
        <td>Товар</td>
        <td>Дата заказа</td>
        <td>Состояние</td>
        <td>Выполнить/Удалить</td>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.Id</td>
    <td>@item.Email</td>
    <td>@item.orderPrice</td>
    <td>@item.countProduct</td>
    <td>@item.Product.title</td>
    <td>@item.orderDate</td>
   @{ if (item.isCompleet == true)
       {<td>Выполнен</td>
 <td><a href="/Admin/DeleteOrder/@item.Id">Удалить</a></td>
       }
       else
       {<td>Обрабатывается</td> 
        <td><a href="/Admin/CompleetOrder/@item.Id">Выполнить</a>/<a href="/Admin/DeleteOrder/@item.Id">Удалить</a></td>
       }
       }
</tr>
    }

</table>

